/*darken*/
/*lighten*/
.appInit{
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 375px;
  max-width: 1024px;
}
.componentsInit{
  position: absolute;
  width: 100%;
}
@formContainerColor:#999;