@import url('./custom.less');
html{
  height: 100%;
}
body{
  font-size: 0.12rem;
  letter-spacing: 1px;
  margin: 0;
  background-color: #F7F7F7;
  color: #212529;
  //color: #888888;
}
p{
  margin: 0;
}
input{
  border: 0;
  outline: none;
  font-size: 0.12rem;
  letter-spacing: 1.3px;
  box-sizing: border-box;
  color: #212529;
}
textarea{
  font-size: 0.12rem;
  letter-spacing: 1.3px;
  resize: none;
  outline: none;
  padding: 0.05rem;
  box-sizing: border-box;
  line-height: 1.4;
  color: #212529;
}
select{
  border: 0;
  outline: none;
  color: #212529;
  font-size: 0.12rem;
}
.mint-toast{
  z-index: 9999;
  i{
    font-size: 0.4rem;
  }
  span{
    font-size: 0.14rem;
  }
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
._global_normalHead{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #27B6F5;
  height: 0.58rem;
  color: #ffffff;
  font-size: 0.14rem;
  span:nth-child(1){
    left: 0.1rem;
    position: absolute;
    font-size: 0.18rem;
  }
  span:nth-child(3){
    right: 0.1rem;
    position: absolute;
    font-size: 0.18rem;
  }
}
._global_filter{
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  height: 0.4rem;
  border-bottom: 0.01rem solid #E4E4E4;
}
._global_HuanZheBox{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  height: 0.4rem;
  font-size: 0.13rem;
  border-bottom: 0.01rem solid #E4E4E4;
  overflow: hidden;
}
._global_timeFilter{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 0.4rem;
  font-size: 0.14rem;
  border-bottom: 0.01rem solid #E4E4E4;
  overflow: hidden;
  span{
    margin-right: 0.1rem;
  }
  img{
    width: 0.25rem;
    height: 0.25rem;
  }
  &:active{
    background-color: @activeEvent;
  }
  //stand by:whether setting auto adaption for mint-ui's Datetime Picker?
}
.fzf_CSS{
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 99%;
  }
}


.fade-enter-to,.fade-leave-to{
  transition: 0.5S;
}
.fade-enter{
  opacity: 0;
}
.fade-enter-to{
  opacity: 1;
}
.fade-leave-to{
  opacity: 0;
}

.towards_left-enter-to,.towards_left-leave-to{
  transition: 0.5S;
}
.towards_left-enter{
  left: 100%;
}
.towards_left-enter-to{
  left: 0;
}
.towards_left-leave-to{
  opacity: 0.8;
}

.towards_right-enter-to,.towards_right-leave-to{
  transition: 0.5S;
}
.towards_right-enter{
  opacity: 0;
}
.towards_right-enter-to{
  opacity: 1;
}
.towards_right-leave{
  left: 0;
}
.towards_right-leave-to{
  left: 100%;
}
