html{
}
body{
  font-size: 0.12rem;
  letter-spacing: 1px;
  margin: 0;
  background-color: #F7F7F7;
  color: #212529;
}
p{
  margin: 0;
}
input{
  border: 0;
  outline: none;
  font-size: 0.12rem;
  letter-spacing: 1.3px;
  box-sizing: border-box;
}
.mint-toast{
  z-index: 9999;
  i{
    font-size: 0.4rem;
  }
  span{
    font-size: 0.14rem;
  }
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
._global_normalHead{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #27B6F5;
  height: 0.58rem;
  color: #ffffff;
  font-size: 0.14rem;
  span:nth-child(1){
    left: 0.1rem;
    position: absolute;
    font-size: 0.18rem;
  }
  span:nth-child(3){
    right: 0.1rem;
    position: absolute;
    font-size: 0.18rem;
  }
}
._global_filter{
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  height: 0.4rem;
  border-bottom: 0.01rem solid #E4E4E4;
}
._global_HuanZheBox{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  height: 0.4rem;
  font-size: 0.13rem;
  border-bottom: 0.01rem solid #E4E4E4;
  overflow: hidden;
}